<div  class="wrapper container-fluid">
    <h1>Trending</h1>
    <div *ngIf='findings' class="row">
        <div class="col-md-6">
          <div style="display: block;">
          <canvas baseChart width="800" height="400"
                      [datasets]="lineChartData"
                      [labels]="lineChartLabels"
                      [options]="lineChartOptions"
                      [colors]="lineChartColors"
                      [legend]="lineChartLegend"
                      [chartType]="lineChartType"
                      (chartHover)="chartHovered($event)"
                      (chartClick)="chartClicked($event)"></canvas>
          </div>
        </div>
        <div class="col-md-5" style="margin-bottom: 10px">

            <table class="table table-responsive table-condensed table-striped table-hover ">
                <thead>
                  <tr>
                    <th *ngFor="let label of lineChartLabels">{{label}}</th>
                  </tr>
                </thead>
                <tbody>
                  <!-- <ul class="system-labels">
                    <li class="badge active" *ngFor="let label of lineChartSystemLabels">{{label}}</li>
                  </ul> -->
                      <tr *ngFor="let d of lineChartData;">
                          <ng-container *ngFor="let label of lineChartLabels; let j=index">
                            <td><span class="label label-default" *ngIf="j==0;">{{d.label}}</span>{{d.data[j]}} </td>
                          </ng-container>
                        </tr>

                </tbody>
              </table> 
              <h2>Trending</h2>
              <p >Last week there were :</p>    
              <section id="container" >
                <ul class="text-center slide-up">
                  <li > {{virus}} Viruses  </li>
                  <li> {{mail}} Malicious emails  </li>
                  <li> {{tps}} TPS Alerts </li>
                  <li> {{adware}} Adwares </li>
                  <li> {{files}} Suspicious Files </li>
                  <li> {{vulnerableFileWasFound}} Vulnerable Files </li>        
                </ul>
              </section>
   
        </div>
      </div>

</div>
