.incident{
    position: relative;
    box-shadow: 0px 0px 5px 2px #ebebeb61;
    padding: 5px;
    display: flex;
    margin: 1rem;
}

.incident div{
    display: inline-flex;
    align-items: center;
    
}
.incident img{
        vertical-align: middle;
        width: 7.5rem;
        padding: 10px;
}

.incident span{
    padding: 10px;
    font-size:1.5rem;
}
.incident .label{
    font-size:1rem;
    position: absolute;
    right: 1rem;
}
.badge{
    font-size: 1.5rem;
    vertical-align: 0;
}
.img-analyst{
    height: 75%;
    border-radius: 22.5px;
}
.status{
    display: flex;
    flex-direction: column;
}