<!-- <div class='loader-ring'>
    <div class='loader-ring-light'></div>
    <div class='loader-ring-track'></div>
  </div>   -->
  <div class="wrapper-loader">
    <div class="rubik-loader">
        <h2 class="loader-header">Loading...</h2>
    </div>
   
  </div>
<!-- Admin Section  -->
<div class="container-fluid user-wrap"  >
        
<div class="container-fluid">
    <div class="jumbotron">
        <div class="row">
            <div class="col-lg-8">
                <h1>Security Operations Center</h1>
                <p class="lead">Operational Dashboard</p>
            </div>
              <div class="col-lg-4">
                <img [src]="logoUrl">
            </div>
        </div>
    </div>
</div>
<div  class="trending-wrapper">
    <app-trending></app-trending>
</div>
<div class="charts-wrapper">
        <app-charts></app-charts>
        
</div>

<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
<app-incident></app-incident>
</div>


</div>


