/*  */

* {
    box-sizing: border-box;
  }
  
  
  .wrapper-loader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
  }
  
  .rubik-loader {
    width: 84px;
    height: 84px;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    /* background-image: url(http://i.giphy.com/3og0ISeflb7vrNzy2A.gif); */
    background-image: url('../../../assets/images/rubick-loader.gif');
    background-repeat: no-repeat;
    background-position: center;
  }
  .loader-header{
      color:black;
      position: absolute;
      top: 70%;
      font-size:24px;
      display: inline-block;
  }
  
/*  */
.no-display{
    display: none;
}
.user-wrap{
    display: none;
    
}
.card {
    background-color: white;
    border-radius: 2px;
    display: inline-block;
    position: relative;
    margin: 1rem;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.card:hover {
    box-shadow: 0 15px 22px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

body {
    background: #e2e1e0;
}

.baseChart {
    height: 360px !important;
}
img{
    height: 100px;
}

.jumbotron::after{
   content: "";

  opacity: 0.1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1; 
}
.jumbotron h1{
    font-size:55px;
}


.trending{
    padding: 25px;
    
}
section#container {
  overflow: hidden;
  border: solid 3px #325D88;
  margin: 0 auto;
  padding: 10px 20px;
  height: 205px;
}
section#container ul {
  margin: 0;
  padding: 0;
}
section#container ul li {
  list-style: none;
  height: 45px;
  margin: 15px 0;
  border-bottom: solid 1px #325D88;
  padding-bottom: 10px;
}

img:hover{
    opacity: 0.8;
}

.finding{
    margin: 0 3rem 0 3rem;
}
