<div class="login-page">
  <div class="form">
    <form class="login-form">
      <h3 class="text-success page-header">Welcome</h3>
      <input type="text" placeholder="username" name="username" [(ngModel)]="username"/>
      <input type="password" placeholder="password" name="password" [(ngModel)]="password" />
      <button class="btn btn-success" (click)="login()">login</button>
      <p class="text-success">Not registered? <a class="text-danger" href="mailto:Isaac.Shahar@verint.com">Request access</a></p>
    </form>
  </div>
</div>
